* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1100px;
  margin: auto;
}

.debug > .container {
  background-color: aqua;
  width: 1100px;
  height: 1193px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1100px;
  height: 1193px;
}

.card {
  float: left;
}

.uno {
  width: 360px;
  height: 521px;
  float: left;
  margin-left: 5px;
}

.behind {
  display: none;
  width: 360px;
  height: 521px;
}

.card:hover .behind {
  display: block;
  width: 360px;
  height: 521px;
}

.card:hover .uno {
  display: none;
  width: 360px;
  height: 521px;
}
