* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1000px;
  margin: 1rem auto;
  height: 800px;
}

.colonna {
  float: left;
  width: 33.33%;
  padding-right: 0.5rem;
}

.prodotto img {
  width: 100%;
  position: relative;
}

.img {
  position: relative;
}

.prodotto .like {
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  font-size: 25px;
}

.prodotto .etichette {
  position: absolute;
  left: 0%;
  bottom: 2rem;
}

.sconto,
.sostenibilità {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}

.sconto {
  color: white;
  background-color: red;
}

.sostenibilità {
  color: white;
  background-color: green;
}

.prezzo .prezzo_scontato {
  color: red;
  font-weight: bold;
}

.prezzo .prezzo_originale {
  text-decoration: line-through;
}

.nascosto {
  display: none;
}

.img:hover .visibile {
  display: none;
}

.img:hover .nascosto {
  display: inline-block;
}

.text {
  text-transform: uppercase;
  font-weight: bold;
}
